# Ignore virtual environment
venv/

#Ignore Python byte code cache
*.pyc
__pycache__
.cache

# Ignore stupid .DS_Store
.DS_Store

# Ignore PyCharm files
.idea/

# Node modules and lock files
node_modules/
package-lock.json
webpack-stats.json

political_search_engine/static/bundles/*
#Ignore migration files
**/migrations/*

#Ignore experiments folder
experiments/*
